<!--<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Handlebars at Work</title>
    </head>
    <body>
        <img src="img/logo.png"/>
        <h1>Hello There, {{name}}</h1>
    </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Home Page</title>
</head>
<body>
<form action="http://localhost:3000/process-bmi" method="POST" id="bmi-form">
    <input type="text" name="Name" placeholder="Enter yor Name"/><br>
    <input type="text" name="Height" placeholder="Enter yor Height(Meters)"/><br>
    <input type="text" name="Weight" placeholder="Enter yor Weight(Kgs)"/><br>
    <input type="submit" name="btn_calculate" value="Calculate BMI"/>
</form>
<script>
    const server = 'http://localhost:3000';
    var bmiId;
    var bmiHeight;
    var bmiWeight;
    var bmi;

    async function fetchBmi() {
        const url = server + '/bmi';
        const options = {
            method: 'GET',
            headers: {
                'Accept': 'application/json'
            }
        }
        const response = await fetch(url, options);
        const bmi = await response.json();
        populateContent(bmi);
    }

function populateContent(users) {
        var table = document.getElementById('content');
        table.innerHTML = "<tr><th>Name</th><th>Student ID</th><th>Email</th><th>password</th></tr>";
        users.forEach(user => {
            var row = document.createElement('tr');
            var dataname = document.createElement('td');
            var textName = document.createTextNode(user.name);
            dataname.appendChild(textName);

            var dataid = document.createElement('td');
            var textid = document.createTextNode(user.studId);
            dataname.appendChild(textid);

            var dataemail = document.createElement('td');
            var textemail = document.createTextNode(user.email);
            dataname.appendChild(textemail);

            var datapass = document.createElement('td');
            var textpass = document.createTextNode(user.password);
            dataname.appendChild(textpass);
            row.appendChild(dataname);
            row.appendChild(dataid);
            row.appendChild(dataemail);
            row.appendChild(datapass);
            table.appendChild(row);

        });
    }

    document.querySelector('form').addEventListener('submit', (e) => {
        studName = document.getElementById('name').value;
        studId = document.getElementById('studId').value;
        studEmail = document.getElementById('email').value;
        studPass = document.getElementById('password').value;
        if (studId && studName && studEmail && studPass) {
            studId = parseInt(studId);
            addUser();
            fetchUsers();
        }
        e.preventDefault();
    }); 
</script>
</body>

</html>